<div class="row">
  <div class="small-6 small-centered columns">
    <h1>Sign Up</h1>
    <fieldset>
      <legend>Dati personali</legend>
      <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages' %>
          <%= render 'fields', f: f %>
          </fieldset>
          <%= f.submit 'Create my account', class: 'small round primary button' %>
          </div>
      <% end %>
    </fieldset>
</div>