<div class="panel">
  <span class="content">
    <%= link_to checkin.pet.namePet, pet_path(checkin.pet_id) %>
    con il suo padrone <%= link_to checkin.user.name, user_path(checkin.user_id) %>
    è stato in <%= link_to checkin.place.name, place_path(checkin.place_id) %>.
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(checkin.created_at) %> ago.
  </span>
  </div>