<div class="large-6 large-centered column">
<h1>Cerca luogo</h1>
  <fieldset>
    <legend>Filtri ricerca:</legend>
<%= form_tag search_places_path, method: 'get' do%>
    <% # text_field_tag: the first parameter is the id/name of the input tag; the second is the value of the tag %>
    <%= text_field_tag :search_name, params[:search_name], placeholder: 'Nome' %>
    <%= text_field_tag :search_cat, params[:search_cat], placeholder: 'categoria' %>
        </fieldset>
    <%= submit_tag ("cerca"), class: 'round primary small button' %>
<% end %>

</div>